@font-face {
    font-family: 'FranklinGot';
    src: url('../fonts/framd.eot');
    src: local('☺'), url('../fonts/framd.woff') format('woff'), url('../fonts/framd.ttf') format('truetype'), url('../fonts/framd.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: Arial, sans-serif;
}

nav {
    width: 100%;
    height: 60px;
    background: #344051;
    position: fixed;
    z-index: 30;
}

.logo {
    color: #fff;
    font-size: 28px;
    line-height: 60px;
    float: left;
    -webkit-animation: coming 3s ease;
    -o-animation: coming 3s ease;
    animation: coming 3s ease;
    font-family: 'FranklinGot', sans-serif;
}

.menu {
    float: left;
}

.menu li {
    float: left;
    line-height: 60px;
    color: #fff;
    margin-right: 40px;
    font-size: 14px;
    text-transform: uppercase;
    -webkit-animation: topshift 0.4s ease forwards;
    -o-animation: topshift 0.4s ease forwards;
    animation: topshift 0.4s ease forwards;
    opacity: 0;
    font-family: 'FranklinGot', sans-serif;
}


.menu li a {
    transition: all 0.1s;
    color: white;
    transform: scale(1);
    display: inline-block;
    text-decoration: none;

}

.main {
    width: 100%;
    height: 1000px;
    background: url(../img/boy.png) 90% 100%/auto 85% no-repeat, url(../img/bg.jpg) center/cover no-repeat;

}

.title {
    float: left;
    color: #2c384a;
    text-align: center;
    width: 100%;
    opacity: 0;
    -webkit-animation: titlemove 1s ease forwards;
    -o-animation: titlemove 1s ease forwards;
    animation: titlemove 1s ease forwards;
    -webkit-animation-delay: 2s;
    -o-animation-delay: 2s;
    animation-delay: 2s;
    font-family: 'FranklinGot', sans-serif;
}

.title h1 {
    font-family: 'FranklinGot', sans-serif;
    font-size: 72px;
    font-weight: 600;
}

.title h4 {
    font-size: 26px;
    margin-top: 40px;
    color: #8b929c;
}

.title button {
    height: 50px;
    width: 200px;
    text-align: center;
    border: 2px solid #6d7682;
    background: transparent;
    border-radius: 5px;
    color: #6d7682;
    font-size: 16px;
    padding: 0px 16px;
    margin: 58px 14px 0px 14px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

.block1 {
    
    width: 100%;
    height: 716px;
    background:url(../img/underline.png) 50% 161px/auto no-repeat, url(../img/bg1.jpg) center/cover no-repeat;
}

.block1 h2 {
    font-size: 33px;
    font-family: 'FranklinGot', sans-serif;
    color: #263244;
    text-align: center;
    padding-top: 100px;
    text-transform: uppercase;
    font-weight: bold;
}
.about{
    width: 100%;
    text-align: center;
    margin-top: 50px;
}
.about img{
    margin: 10px;
}

.block1 p1 {
    text-align: left;
    font-size: 17px;
    font-family: 'Calibri', sans-serif;
    margin-top: 10px;
    display: block;
    color: #3f495a
}

.block1 p2 {
    text-align: left;
    font-size: 17px;
    font-family: 'Calibri', sans-serif;
    margin-top: 22px ;
    display: block;
    color: #3f495a
}

.block1 button {
    height: 32px;
    width: 180px;
    border: 2px solid #6f707e;
    background: transparent;
    border-radius: 5px;
    color: #7b7c88;
    font-size: 12px;
    font-family: 'FranklinGot', sans-serif;
    padding: 0px 12px 0px 12px;
    margin-top: 38px ;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

.block1 img {
    margin-right: 10px;
}

.skills_container {
    width: 100%;
    height: 522px;
    background: url(../img/underline.png) 50% 160px/auto no-repeat, url(../img/bg2.jpg) center/cover no-repeat;
}

.skills_container h2 {
    font-size: 33px;
    font-family: 'FranklinGot', sans-serif;
    color: #263244;
    text-align: center;
    padding-top: 100px;
    text-transform: uppercase;
    font-weight: bold;
}

.skills {
    margin-top: 4%;
    display: flex;
    justify-content: space-between;

}

.skill img {
    margin: 30px;
    height: 45px;
}

.skills h3 {
    color: #cf7600;
    font-size: 19px;
    font-family: 'FranklinGot', sans-serif;
}

.skills p {
    font-size: 17px;
    display: block;
    margin-top: 20px;
    color: #4e5766;
    text-align: center;
    font-family: 'Calibri', sans-serif;
}

.skill {
    text-align: center;
    display: block;
    width: 210px;
    -webkit-animation: leftshift 1s ease forwards;
    -o-animation: leftshift 1s ease forwards;
    animation: leftshift 1s ease forwards;
    opacity: 0;
}

.block3 {
    width: 100%;
    height: 1200px;
    background: url(../img/underline.png) 50% 160px/auto no-repeat;
}

.block3 h2 {
    font-size: 33px;
    font-family: 'FranklinGot', sans-serif;
    color: #263244;
    text-align: center;
    padding-top: 100px;
    text-transform: uppercase;
    font-weight: bold;
}

.block3 p {
    text-align: center;
    font-family: 'Calibri', sans-serif;
    display: block;
    font-size: 17px;
    color: #4e5766;
    margin-top: 45px;
    width: 100%;
}

.info {
    margin-top: 45px;
    width: 100%;
    display: flex;
    float: left;
    text-align: center;
}
.info1{
    width: 300px;
}
.info2{
    width: 850px;
    margin-left: 68px;
}
.info h4 {
    float: left;
    font-size: 25px;
    text-transform: uppercase;
    color: #384354;
    font-weight: bold;
}

.info p {
    float: left;
    display: block;
    font-size: 17px;
    color: #4e5766;
    margin: 14px 0px 15px 0px;
    text-align: left;
}
.info2 p {
    font-size: 20px;
}
.info button {
    height: 44px;
    text-align: center;
    background: #63b5ae;
    border-radius: 5px;
    color: #fff;
    font-size: 20px;
    padding: 8px 20px;
    margin: 0px 0px 0px 0px;
    width: 202px;
    display: block;
    margin-top: 130px;
}

.info2 {
    float: left;
    display: block;
}

.calculator {
    width: 100%;
    height: 1500px;
    padding: 300px;

}

.calculator_box {
    -webkit-box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
    margin: 0 auto;
    height: 900px;
}
.calculator_inside{
    padding: 45px 47px 0px 47px;
}

.calculator h2 {
    font-size: 33px;
    color: #263244;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

.calculator h3 {
    font-size: 30px;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 50px;
    width: 870px color: #1c2534;
}
.calcline{
    padding-top: 35px;
}
.calculator select {
    height: 58px;
    text-align: left;
    background: #eeeeee;
    color: #6d7682;
    font-size: 15px;
    padding: 0px 16px;
    margin: 20px 0px 0px 0px;
    width: 100%;
}

.calculator p {
    display: block;
    text-align: justify;
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
}

.calculator .text {
    float: left;
}

.calculator .digit {
    float: right;
}

.calculator button {
    height: 44px;
    text-align: center;
    background: #63b5ae;
    border-radius: 5px;
    color: #fff;
    font-size: 20px;
    padding: 8px 20px;
    margin: 0px 0px 0px 0px;
    width: 202px;
    display: block;
    margin: 40px;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
}

.stats {
    height: 499px;
    width: 100%;
    background: url(../img/bg3.jpg) center/cover fixed no-repeat;
}

.mystats {
    margin: 100px 250px;
    display: flex;
    justify-content: space-between;
    font-weight: bolder;
}

.stat {
    display: block;
    text-align: center;
}

.stat img {
    height: 54px;
    
}

.stats h2 {
    font-size: 33px;
    color: #263244;
    text-align: center;
    padding-top: 108px;
    text-transform: uppercase;
    font-weight: bold;
}

.stats p {
    font-size: 16px;
    text-transform: uppercase;
}

.stats b {
    font-size: 37px;
    font-weight: bold;
    margin: 33px 0px 33px 0px;
    display: block;
}

.comments {
    
    height: 592px;
    width: 100%;
    background: url(../img/underline.png) 50% 160px/auto no-repeat, url(../img/boy3.png) 50% 50%/auto no-repeat;
}

.comments h2 {
    font-size: 33px;
    color: #263244;
    text-align: center;
    padding-top: 100px;
    text-transform: uppercase;
    font-weight: bold;
}

.comment1 {
    text-align: center;
    margin: 233px 615px 0px 615px;
    display: block;
    color: #243042;
}

.peoples {
    display: block;
    text-align: center;
    margin: 36px 842px;
    font-size: 16px;
    color: #243042;
}

.radio1 {
    width: 100%;
    display: inline-block;
    font-size: 15px;
    font-weight: 500;
    text-transform: capitalize;
    vertical-align: middle;
    color: #fff;
    text-align: center;
}

.contacts {
    width: 100%;
    height: 808px;
    background: url(../img/underline.png) 50% 160px/auto no-repeat, url(../img/bg4.jpg) 100%/auto no-repeat;
}

.contacts h2 {
    font-size: 34px;
    color: white;
    text-align: center;
    padding-top: 100px;
    text-transform: uppercase;
    font-weight: bold;
}

.contact_info {
    margin-top: 48px;
    color: white;
    font-size: 15.33px;
    display: block;
    text-align: center;
    font-family: 'Calibri', sans-serif;
}

.my_info {
    margin-top: 25px;
    margin-left: 653px;
    margin-right: 653px;
    display: flex;
    justify-content: space-between;
}

.mycontact {
    font-size: 16px;
    display: block;
    color: white;
    text-align: center;
    text-overflow: 10px;
    font-family: 'Calibri', sans-serif;
}

.mycontact img {
    margin: 13px;
}

.contacts h4 {
    margin-top: 5px;
    color: white;
    text-transform: uppercase;
    font-size: 21px;
    width: 100%;
    text-align: center;
    font-family: 'FranklinGot', sans-serif;
}

.anketa {
    float: left;
    width: 100%;
    text-align: center;
    margin-top: 44px;
}

.anketa input {
    width: 352px;
    height: 40px;
    font-size: 16px;
    padding-left: 14px;
    margin: 0px 14px 0px 14px;
    background: rgba(249, 250, 255, 0.80);
}

.anketa {
    color: 5d5d5e;
}

.message input {
    width: 736px;
    height: 92px;
    padding-top: 0px;
}

.send {
    width: 100%;
    float: left;
    text-align: center;
}

.send input {
    height: 40px;
    text-align: center;
    border: 2px solid white;
    background: none;
    border-radius: 5px;
    color: white;
    font-size: 13px;
    padding: 0px 16px;
    margin: 10px 14px 0px 14px;
}

.map {
    background: url(../img/map.jpg) center/cover no-repeat;
    height: 356px;
    width: 100%;
    display: block;
}

.footer1 {
    height: 94px;
    width: 100%;
    background-color: #354051;
}

.footer1 p {
    text-align: center;
    line-height: 94px;
    color: white;
    font-family: 'arial';
}


.menu li a:visited {
    color: white;
}

.menu li a:hover {
    color: #e88604;
    transform: scale(1.1)
}

.menu li a:active {
    ;
}

.title button {
    transition: all 0.5s;
    transform: scale(1)
}

.title button:hover {
    color: white;
    background: #344051;
}

.title button:active {
    transform: scale(1.1)
}

@keyframes coming {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes topshift {
    from {
        opacity: 0;
        margin-top: -80px;
    }

    to {
        opacity: 1;
        margin-top: 0px;
    }
}

.menu li:nth-child(2) {
    animation-delay: 0.4s;
}

.menu li:nth-child(3) {
    animation-delay: 0.8s;
}

.menu li:nth-child(4) {
    animation-delay: 1.2s;
}

.menu li:nth-child(5) {
    animation-delay: 1.6s;
}

.menu li:nth-child(6) {
    animation-delay: 2s;
}

@keyframes titlemove {
    from {
        opacity: 0;
        margin-left: -500px;
    }

    to {
        opacity: 1;
        margin-left: 0px;
    }
}

.block1 button {
    transition: all 0.5s ease;
    transform: scale(1);
    display: inline-block;
}

.block1 button:hover {
    transform: scale(1.2);
    border-color: #e88604;
    color: #e88604;
}

.block1 button:active {
    border-color: #7b7c88;
    color: #7b7c88;
}

@keyframes leftshift {
    from {
        opacity: 0;
        margin-left: -1000px;
    }

    to {
        opacity: 1;
        margin-left: 0px;
    }
}

.skill:nth-child(2) {
    animation-delay: 1s;
}

.skill:nth-child(3) {
    animation-delay: 2s;
}

.skill:nth-child(4) {
    animation-delay: 3s;
}

.skill:nth-child(5) {
    animation-delay: 4s;
}

.white-btn:visited{
    color: #fff;
}

@media (max-width: 991px){
    .title, .title h4, .title button{
        color: #fff;
        position: relative;
        z-index: 3;
    }
    .title button{
        border: 2px solid #fff;
    }
    .main {
        position: relative;
    }
    .main::after{
        content: "";
        bottom: 0;
        top: 0;
        left: 0;
        right: 0;
        position: absolute;
        background: rgba(0,0,0,0.4);
    }
}
.calcline::before{
    display: block;
    width: 100%;
    content: '';
    position: static;
    border-top: 2px solid #d6d6d6;
    margin-bottom: 25px;
}